header
    height: $header-height
    display: grid
    grid-template-columns: $header-height 1fr min-content
    align-items: center
    justify-items: center
    background: $orangeDark
    color: $white

    :nth-child(3)

        justify-self: end
        margin-right: 12px
        text-align: right

    h2
        text-transform: uppercase
        justify-self: start

    h4
        text-transform: capitalize
        font-weight: 200

    img
        border: 1px solid white
        border-radius: 40px
        padding: 4px

        height: 40px
        width: 40px
