header
    height: $header-height
    @include flex-full-centered
    background: $orangeDark
    color: $white
    //fill: $white

    img
        border: 1px solid white
        border-radius: 40px
        padding: 4px

        height: 40px
        width: 40px
